//********************************************************************************************************************//
// Icons - Backend with iconfont
//********************************************************************************************************************//

//icons zur jeweiligen View im Header hinzufuegen über Klassennamen
//und icons zu sidebar und drop-down-menü hinzufuegen vor dem Link
//********************************************************************************************************************//
[class^="icon-"], [class*=" icon-"] {
  font-family: icomoon;
}

.icon-mni::before {
  content: "\e600";
}

// Anpassung einzelner Icons
//********************************************************************************************************************//
.icon-diff, .icon-import, .icon-import-all, .icon-merge-all {
  font-weight: bold;
}

.icon-add-Space {
  font-size: 14px;
}