@import 'variables';

.contentheading {
  word-wrap: break-word;
}

div.main {

  .role-heading {
    background-color: $background-foot;
    color: $foreground-color;
    font-family: $font-family-header;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: .8rem;
    padding: .6rem .6rem .4rem .6rem;

    .group-title {
      text-transform: uppercase;
    }
  }


  .row-container {
    clear: both;
    background-color: $background-color;
    margin-bottom: 1rem;
    overflow: auto;
  }

  .toggled-text-link {
    text-decoration: underline;
    cursor: pointer;
  }

}

div.clearFix {
  clear: both;
}

.profile-container {
  float: left;
  padding: .6rem;
  width: calc(100% - 1.2rem);

  .attribute-html, .attribute-wrap, .toggled-text-container {
    float: left;
  }

  .attribute-wrap {
    line-height: 1.2rem;
    vertical-align: bottom;
  }

  .action-container, .attribute-image {
    float: right;
  }

  .attribute-image {

    width: 4.5rem;

    img {
      display: block;
    }
  }

  .attribute-label, .attribute-value {
    float: left;
  }

  .attribute-html, .attribute-wrap {
    margin-bottom: .4rem;
    clear: left;
  }

  .attribute-name, .attribute-title {
    margin-right: .2rem;
  }

  .attribute-label {
    margin-right: .4rem;
  }

  .attribute-label-long {
    width: 100%;
  }

  .attribute-name, .attribute-title {
    display: inline-block;
    float: left;
    font-family: $font-family-regular;
  }

  .attribute-name {
    font-size: 1.15rem;
  }

  .attribute-title {
    color: $font-color;
    font-size: .95rem;
    padding-top: .2rem;
  }

  .attribute-roles {
    font-size: .8rem;
    font-style: italic;
  }

  .suppress {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 15rem;
  }

  .toggled-text-container {
    clear: both;
    margin-top: .4rem;
    padding: .4rem;

    ul, ol, table {
      margin-bottom: 0;
    }
  }

  &.with-image .suppress{
    width: 14rem;
  }

  &.half {
    width: calc(50% - 1.2rem);

    .attribute-roles {
      max-width: 16rem;
    }
  }
}

.module-box .profile-container{

  .suppress {
    width: 14rem;
  }

  &.with-image .suppress{
    width: 11rem;
  }
}

@media screen and (max-width: 480px) {

  .advanced-container .profile-container.half {
    clear: left;
    width: calc(100% - 1.2rem);
  }
}