@import '../../lib_thm_core/scss/backend';

.iconPicker
{
  white-space: normal !important; //needed for Firefox

  .iconName {
    padding-left: 10px;
  }

  .dropdown-toggle {

    .icon-arrow-down-3 {
      font-size: 18px;
      float: right;

      &:before {
        vertical-align: text-bottom;
      }
    }

    .iconName {
      padding-left: 5px;
    }
  }

  .dropdown-menu {
    margin-bottom: 50px;

    .selected{
      background-color: $background-icon-list;
    }
  }
}