@import 'mixins';
@import 'buttons';

div.manager-page {

  .page-header {

    float: left;

    h2 {
      display: inline-block;
    }
  }

  .toolbar {
    display: inline-block;
    float: right;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: icomoon;
    margin-right: 0;
  }

  a.view-link {
    margin-left: 8px;
  }

  input[type="checkbox"] {
    display: none;
  }

  .publish-column, .btn-column {
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
  }

  .publish-column {
    width: 6rem;
  }

  .btn-column {
    width: 3rem;
  }

  .btn-group {
    display: inline-block;

    .dropdown-toggle {

      // Ensures the two control elements have the same height
      padding-bottom: .25rem;

      .element-invisible {
        position: absolute;
        padding: 0;
        margin: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
      }

      span:before {
        color: $font-color;
      }
    }

    &.open .dropdown-toggle {
      background-color: $foreground-color;
      border: $border;
      box-shadow: none;
      color: $font-color;
      margin-bottom: 0;

      span.caret {
        border-top-color: $font-color;
      }
    }

    ul {
      border-radius: 0;
      margin: 0;
      padding: 0;
    }

    li {

      margin: 0;

      a {

        padding: 6px 10px;

        &:hover {
          background: $background-foot;
          span::before {
            color: $foreground-color;
          }
        }
      }
    }

    & > .btn {
      border-radius: 0;
    }
  }

  .title-column .btn {
    border: none;
    margin: 0;
    padding: 0;
  }

  td span.status-container {
    margin-right: 8px;
    vertical-align: middle;
  }

  td .btn {
    border: $border-input;

    &.active {
      box-shadow: none;
    }
    &:hover span.caret{
      border-top-color: $foreground-color;
    }
  }

}
