@import 'mixins';

div.manager-page {

  [class^="icon-"], [class*=" icon-"] {
    font-family: icomoon;
  }

  .page-header {

    float: left;

    h2 {
      display: inline-block;
    }
  }

  .toolbar {
    display: inline-block;
    float: right;
  }

  button, a.btn {
    box-shadow: none;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .btn-group, .btn-column {

    display: inline-block;

    button, a.btn {

      background-color: transparent;
      border: $border;
      border-radius: 0;
      color: $font-color;
      margin-bottom: 0;

      span:before {
        color: $font-color;
        margin-left: 0;
      }

      span.caret {
        border-top-color: $font-color;
      }

      &:hover, &:focus {
        background-color: $background-foot;
        color: $foreground-color;

        span:before {
          color: $foreground-color;
        }

        span.caret {
          border-top-color: $foreground-color;
        }
      }
    }

    .dropdown-toggle {

      text-align: left;
      padding-bottom: .25rem;

      .element-invisible {
        position: absolute;
        padding: 0;
        margin: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
      }

      span:before {
        color: $font-color;
      }
    }

    &.open .dropdown-toggle {
      background-color: $foreground-color;
      border: $border;
      box-shadow: none;
      color: $font-color;
      margin-bottom: 0;

      span.caret {
        border-top-color: $font-color;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {

      margin: 0;

      a {

        padding: 6px 10px;

        &:hover {
          background: $background-navigation-color;
        }
      }
    }
  }

  .title-column .btn {
    border: none;
    margin: 0;
    padding: 0;
  }

  .btn-column {
    text-align: center;
    width: 40px;
  }

  th span:before {
    color: $foreground-color;
  }

  td span.status-container {
    margin-right: 8px;
    vertical-align: middle;
  }

  // TODO: move these to _variables
  td span {

    &.green:before {
      color: #409740;
    }

    &.red:before {
      color: #942a25;
    }
  }

  td a.jgrid {
    margin-left: 8px;
  }

  .dropdown-menu {
    border-radius: 0;
  }

  input[type="checkbox"] {
    display: none;
  }
}
