@import 'variables';
@import 'icons';

.thm_groups-list {

  font-family: $font-family;

  li {
    list-style-type: none;

    .title-value {
      color: $font-color;
      font-size: .75rem;
    }
  }

  .list-container {

    .alphabet-container, .alphabet-list {
      text-align: center;
    }

    .alphabet-container {
      margin-bottom: 15px;
      width: 100%;
    }

    .alphabet-list {

      border: $border;
      margin-bottom: 0;
      width: 100%;

      li {
        display: inline-block;
        margin-left: 0;
        padding: 8px 6px;
        width: 2%;
      }

      .letter-enabled, .letter-disabled {
        display: inline;
        font-size: 14px;
      }

      .letter-disabled {
        color: $grey-25;
      }

      .letter-enabled {
        font-weight: bold;
      }

      .letter-active {
        background-color: $background-navigation-color;
      }
    }

    .profiles-container .letter {
      background-color: #4a5c66;
      color: $foreground-color;
      display: inline-block;
      font-weight: bold;
      line-height: 16px;
      margin: 0;
      padding: 3px;
      text-align: center;
      vertical-align: top;
      width: 16px;
    }

    .profiles-container .profiles {
      display: inline-block;
      width: calc(100% - 22px);
    }

    .single-letter {

      width: 100%;

      .profiles-container .profiles {
        width: 100%;
      }
    }

  }
}