@import 'variables';

.thm_groups-overview {

  font-family: $font-family;

  li {
    list-style-type: none;

    .title-value {
      color: $font-color;
      font-size: .75rem;
    }
  }

  .overview-container {

    .alphabet-container {
      margin-bottom: 15px;
      width: 100%;
    }

    .profiles-container .letter {
      background-color: #4a5c66;
      color: $foreground-color;
      display: inline-block;
      font-weight: bold;
      line-height: 16px;
      margin: 0;
      padding: 3px;
      text-align: center;
      vertical-align: top;
      width: 16px;
    }

    .profiles-container .profiles {
      display: inline-block;
      width: calc(100% - 22px);
    }

    .single-letter {

      width: 100%;

      .profiles-container .profiles {
        width: 100%;
      }
    }

  }
}