@import '../../lib_thm_core/scss/variables';
@import '../../lib_thm_core/scss/icons';

div.item-page {

  .page-header {

    float: left;

    h2 {
      display: inline-block;
    }
  }

  .toolbar {
    float: right;
  }

  .profile {
    clear: both;
    position: relative;
  }

  button, a.btn {

    background-color: $foreground;
    border: $border;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 4px 8px;

    &:hover {
      background-color: $font-color;
      color: $foreground;
      border: $foreground 1px solid;

      span:before {
        color: $foreground;
      }
    }
  }

  [class^="icon-"], [class*=" icon-"] {
    margin-right: 5px;
  }

  .field-container, .field-row {
    display: inline-block;
    float: left;
    margin-top: -1px;
    padding-top: 1px;
    padding-bottom: 15px;
  }

  .field-container {
    clear: left;
  }

  .field-container-label, .field-container-value, .field-row-label, .field-row-value {
    display: inline-block;
  }

  .field-container-label, .field-row-label {
    font-size: 150%;
    margin-right: 20px;
    text-align: right;
    vertical-align: top;
    width: 120px;
  }

  .field-container-label:before, .field-row-label:before {
    position: relative;
    top: 2px;
  }
}

div.template-standard {

  .field-container-label, .field-row-label {
    width: 120px;
  }

  .titel-container, .vorname-container, .nachname-container, .posttitel-container {
    display: none;
  }

  .bild-container, .anschrift-container {
    background-color: $background;
    padding: 20px;
  }

  .bild-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
  }

  .anschrift-container {
    margin-bottom: 20px;
    width: calc(100% - 40px);
    min-height: 200px;
  }

  .buero-container, .sprechzeiten-container, .email-container,
  .telefon-container, .fax-container, .homepage-container {
    background-color: $background-green;
    padding-bottom: 8px;
    width: 100%;
  }

  .anschrift-container + div {

    padding-top: 15px;

    &:before {
      content: "Kontaktinformationen";
      display: block;
      font-family: $font-family-header;
      font-size: 150%;
      margin-bottom: 15px;
      padding-left: 20px;
      width: 100%;
    }
  }

  .zur-person-container {
    margin-top: 20px;
    padding-left: 20px;
    width: 100%;
  }

  .weitere-informationen-container {
    margin-top: 20px;
    padding-left: 20px;
    width: 100%;
  }

  .field-container-label, .field-row-label {
    font-family: $font-family-header;
    font-size: 140%;
    margin-right: 10px;
  }

  .anschrift-label {
    display: block;
    font-size: 150%;
    padding: 5px 0;
    text-align: left;
    padding-right: calc(30% - 40px);
  }

  .buero-label, .email-label, .fax-label, .homepage-label, .sprechzeiten-label, .telefon-label {

    /* use !important to prevent issues with browser extensions that change fonts */
    align: left;
    color: $font-color;
    font-family: 'icomoon' !important;
    font-size: 120%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    width: 40px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    span {
      display: none;
    }
  }

  .buero-label:before {
    content: "\21";
  }

  .email-label:before {
    content: "\4d";
  }

  .fax-label:before {
    content: "\e013";
  }

  .homepage-label:before {
    content: "\e903";
  }

  .sprechzeiten-label:before {
    content: "\e927";
  }

  .telefon-label:before {
    content: "\e260";
  }

  .zur-person-label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
  }

  .weitere-informationen-label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
  }

  .bild-value {
    float: right;
  }

  .anschrift-value {
    display: block;
    padding-right: calc(30% - 40px);
  }
}

div.template-mni {

  .titel-container, .vorname-container, .nachname-container, .posttitel-container {
    display: none;
  }

  .field-container, .field-row {
    max-width: 70%;
  }

  .field-container-label, .field-row-label {
    font-family: $font-family-header;
    font-size: 120%;
  }

  .field-container-value, .field-row-value {
    max-width: calc(100% - 140px);
  }

  .bild-container {

    clear: right;
    float: right;

    .bild-value {
      max-width: 100%;
    }
  }

  .bild-container {

    clear: right;
    float: right;

    .bild-value {
      max-width: 100%;
    }
  }
}