@import 'mixins';

.toolbar {
  float: right;
}

a.btn {
  margin-left: 10px;
  margin-bottom: 20px;
}

.profile-container {

  clear: both;

  div.clearFix {
    clear: both;
  }

  .attribute-picture {
    float: right;
    margin-bottom: .8rem;

    img {
      max-width: 6rem;
    }
  }

  .attribute-inline, .attribute-wrap {
    display: inline-block;
    float: left;
    padding: 0.3rem 0;
  }

  .attribute-label, .attribute-value {
    display: block;
    float: left;
  }

  .attribute-label {
    font-size: 1.05rem;
    margin-right: 1rem;
    text-align: right;
    vertical-align: top;
  }

  .attribute-wrap {
    clear: left;
  }

  .attribute-textfield {

    clear: left;
    margin-top: 1rem;
    padding: 1rem 0;

    .attribute-label {
      font-family: $font-family-header;
      margin-bottom: .8rem;
      text-align: left;
    }
  }
}