@import '../../lib_thm_core/scss/variables';
@import '../../lib_thm_core/scss/icons';

#adminForm {

  .frontend-toolbar {
    border: $border;
    background-color: $background;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
  }

  button, a.btn {

    background-color: $foreground;
    border: $border;
    margin-left: 10px;
    padding: 4px 8px;

    &.upload {
      float: right;
    }

    &:hover {
      background-color: $font-color;
      color: $foreground;
      border: $foreground 1px solid;

      span:before{
        color: $foreground;
      }
    }
  }

  [class^="icon-"], [class*=" icon-"] {
    margin-right: 5px;
  }

  .clear, .control-group {
    clear: both;
  }

  .control-group {

    .control-label {
      display: inline-block;
      padding: 0;
      width: 180px;

      &.frontend {
        width: 100px;
      }
    }

    .controls {
      display: inline-block;
      margin-left: 10px;

      .validation-container {

        margin-left: 5px;
        float: left;

        .icon-publish {
          margin-right: 0;
        }
      }

      .image-container {
        float: left;
      }

      .image-button {

        border-radius: 0;
        float: left;
      }
    }

    .publish-container {
      display: inline-block;
      margin-left: 30px;
      vertical-align: top;

      input {
        margin-top: 0;
      }
    }
  }

  .modal {

    border-radius: 0;
    height: 384px;
    margin: 0;
    width: 600px;

    &.fade {

      // Ensures that the modal is completely off the screen, when not needed
      top: -100%;

      // Centers the modal when needed
      &.in {
        left: calc(50% - 351px);
        top: calc(50% - 193px);
      }
    }

    .modal-content {

      padding: 5px;

      .modal-header, .modal-footer {

        background-color: $background;
        padding: 5px;
        text-align: left;

        .header-title {

          border-bottom: $border;
          margin-bottom: 5px;
          padding: 5px;

          h3 {
            display: block;
            float: left;

            [class^="icon-"], [class*=" icon-"] {
              margin-right: 8px;
            }
          }

          button.close {
            background-color: $background;
            border: none;
            color: $font-color;
            display: block;
            float: right;
            opacity: 1;
          }
        }

        .toolbar {

          clear: both;

          input[type="file"] {
            width: 250px;
          }
        }
      }

      .modal-body {

        border-left: $background 5px solid;
        border-right: $background 5px solid;
        height: 230px;
        padding: 0;

        .crop-container
        {
          height: 100%;
          margin: auto;
          padding: 0 5px;
          width: 50%;

          .imageBox
          {
            position: relative;
            height: 220px;
            width: 100%;
            min-width: 150px;
            border:1px solid #aaa;
            background: #fff;
            overflow: hidden;
            background-repeat: no-repeat;
            cursor:move;

            .thumbBox
            {
              position: absolute;
              width: 150px;
              height: 200px;
              margin: auto;
              top: 0; left: 0; bottom: 0; right: 0;
              box-sizing: border-box;
              border: 1px solid rgb(102, 102, 102);
              box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
              background: none repeat scroll 0% 0% transparent;
            }

            .spinner
            {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              text-align: center;
              line-height: 400px;
              background: rgba(0,0,0,0.7);
            }
          }
        }
      }
    }
  }
}
