@import 'mixins';

.toolbar {
  float: right;
}

a.btn {
  margin-left: 10px;
  margin-bottom: 20px;
}

.profile-container {

  clear: both;
  padding-bottom: 1rem;

  div.clearFix {
    clear: both;
  }

  .attribute-picture {
    float: right;
    margin-bottom: .8rem;

    img {
      max-width: 10rem;
    }
  }

  .attribute-inline, .attribute-textfield, .attribute-wrap {
    float: left;
    padding: 0.3rem 0;
  }

  .attribute-inline, .attribute-wrap {
    display: inline-block;
  }

  .attribute-wrap {
    .tooltip {
      position: relative;
      display: inline-block;
      font-size: inherit;
      padding: inherit;
      opacity: 1;
      z-index: 1;

      span {
        a {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .tooltiptext {
        visibility: hidden;
        width: fit-content;
        bottom: 100%;
        padding: 5%;
        left: 50px;
        margin-left: -60px;
        background-color: #4a5c66;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        z-index: 1;

        &:after {
          content: " ";
          position: absolute;
          top: 100%; /* At the bottom of the tooltip */
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #4a5c66 transparent transparent transparent;
        }
      }

      &:hover {
        .tooltiptext {
          visibility: visible;
        }
      }
    }
  }

  .attribute-label, .attribute-value {
    display: block;
    float: left;
  }

  .attribute-label {
    font-size: 1.05rem;
    margin-right: 1rem;
    text-align: right;
    vertical-align: top;
  }

  .attribute-textfield, .attribute-wrap {
    clear: left;
  }

  .attribute-textfield h3{
    margin: 1.5rem 0 1rem 0;
  }
}