/*********************************************************************************************/
/* eStudy                                                                                    */
/*********************************************************************************************/
.contentpane_wrapper {
  margin: -16px -12px -26px -12px;
}

.contentpane_wrapper iframe.wrapper_wrapper {
}

/*********************************************************************************************/
/* mod_giessen_staff                                                                         */
/*********************************************************************************************/

#mod_gs_left {
	float: left;
	background-color:yellow;
	margin-top: 20px;
}

#mod_gs_edit_icon {
	float:left;
	margin-left:5px;
}

.mod_gs_site {}

.mod_gs_object {
  margin:1em 0 0 0;
  clear:both;
}

.mod_gs_objectB {
  margin:1em 0 0 0;
  clear:both;
  margin-top:  1px;
}

.mod_gs_topic {
  float:left;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.mod_gs_topicB {
  font-weight: bold;
  margin-bottom: 0;
}

.mod_gs_site_advice {
  width:       100%;
}

.mod_gs_site_advice td {
  padding-right: 6px;
  vertical-align: middle;
}

.mod_gs_input_text,
.mod_gs_input_file,
.mod_gs_input_submit {
  font-size:   1em;
  width:       98%;
}

.mod_gs_input_textarea {
  font-size:   1em;
  width:       98%;
  height:      8em;
}

.mod_gs_input_checkbox {
  position: absolute;
  right:    2em;
}
#mod_gs_email{
  clear:both;
}
.mod_gs_icon {
  float:left;
 /*  margin:5px;
	 width:48px;
  height:16px;
  */
}

.mod_gs_portrait {
  margin-top: 0.5em;
}

.mod_gs_portraitB {
  margin-top: 0.5em;
  width: 50px;
}
.mod_gs_group {
  margin-top: 0.5em;
  width: 70px;
}


.mod_gs_lnk {}

.mod_gs_tree {}

.mod_gs_list {}

.mod_gs_listelement {}



/*********************************************************************************************/
/* wrapper of wiki                                                                           */
/*********************************************************************************************/
div.contentpane_wiki {
  margin-bottom:-11px;
  margin-left:-6px;
  margin-right:-6px;
  margin-top:-16px;
}

/*********************************************************************************************/
/* mod_whosonline                                                                            */
/*********************************************************************************************/
#current_users {
   position: absolute;
   left:486px;
   top: 22px;
   padding-left:20px;
   background: url(../images/users.png) no-repeat scroll 0px 0px;
}

/*********************************************************************************************/
/* mod_giessen_feed                                                                          */
/*********************************************************************************************/
p.giessenfeed {
  margin-left:18px;
}

/*********************************************************************************************/
/* com_remository                                                                            */
/*********************************************************************************************/
div#remositorycredits {
  display:none;
}

/*********************************************************************************************/
/* mod_eventlist                                                                             */
/*********************************************************************************************/
ul.eventlistmod li a {
  font-weight:normal;
}

/*********************************************************************************************/
/* com_giessen_staff                                                                         */
/*********************************************************************************************/


ul.gs_advtable_left {
  float:left;
}

ul.gs_advtable_right {
  float:right;
}

#gsinfo {
  clear:left;
}

.gs_advlistPicture {
  float: right;
  margin-left: 10px;
}

.gs_advlist_longinfo {
  margin-top: 5px;
  margin-bottom: 5px;
}

#gs_advlist_memberwrapper {
  width: 500px;
  min-height: 50px;
  margin-top: 0px;
  margin-bottom: 30px;
}

#gs_advtable_memberwrapper {
  width: 300px;
  min-height: 50px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 20px;
}

#gsadv {
  margin-top:0px;
  margin-right:40px;
}

#gssite #gsname {
  font-size:14px;
}

#gssite input,#gssite textarea {
   width:226px;
}

#gssite #editlinks {
  margin-top:12px;
}

#gspic #description {
  font-size: 11px;
  font-family: verdana;
  background-image: url(../images/headline_stripes.gif);
  background-repeat: no-repeat;
  height: 18px;
  overflow: hidden;
  margin-top: 18px;
  margin-left: -6px;
  margin-bottom: 4px;
  margin-right: 5px;
  padding-left: 46px;
  padding-top: 2px;
  padding-bottom: 4px;
}


#gs_editView_buttons{
	display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;
}

#gs_editSubmit{
	background: url(../images/edit.png);
	background-repeat:no-repeat;
	height:18px;
	width:18px;
    float:left;
    border:0px;
    cursor:pointer;
    margin-left:5px;
    margin-top:-5px;
}
#gs_advlistTopic{
/*	float:left;  /* Eine ganz schlechte Idee!!! */
}
/*********************************************************************************************/
/* mod_giessen_remos                                                                         */
/*********************************************************************************************/

.giessen_remos
{
/*background:     #ffffff;
  color:       #000000;*/
  overflow:     hidden;

  margin-top:     0px;
  margin-left:   0px;
  margin-bottom:   -20px;
  margin-right:   0px;

  padding-top:   0px;
  padding-left:   0px;
  padding-bottom: 0px;
  right-bottom:   0px;

  position:      relative;
  top:        0px;

  font-family:    arial;
  font-weight:   normal;
  font-size:    10px;
  line-height:    14px;
}

.giessen_remos a:link,
.giessen_remos a:active,
.giessen_remos a:visited,
.giessen_remos a:focus
{
  color:      #445c20;
    font-family:  arial;
    font-weight:   normal;
    font-size:    10px;
    line-height:  14px;
}

.giessen_remos_categorie a:link,
.giessen_remos_categorie a:active,
.giessen_remos_categorie a:visited,
.giessen_remos_categorie a:focus
{
  color:      #445c20;
    font-family:  verdana, arial, sans-serif;
    font-weight:   normal;
    font-size:    11px;
    line-height:  14px;
}

/* Global link color (hover) */
.giessen_remos a:hover
{
   text-decoration: underline;
}


.giessen_remos .symbol
{
}


.giessen_remos .title a:hover
{
   color:         #ff0000;
   text-decoration: underline;
}



.giessen_remos .dir
{
  background:     #777777;
}
.giessen_remos .file
{
  background:     #777777;
}
.giessen_remos .url
{
  background:     #777777;
}
.moduletable
{
}
.moduletable .giessen_remos img
{
    margin-left:    0px;
    vertical-align:  middle;
}

.ebene-I
{
  background: url(I.png) no-repeat 0px -2px;
  padding-left:  15px;
  margin-left: -3px;
}
.ebene-L
{
  background: url(L.png) no-repeat 0px -2px;
  padding-left:  15px;
  margin-left: -3px;
}
.ebene-T
{
  background: url(T.png) no-repeat 0px -2px;
  padding-left:  15px;
  margin-left: -3px;
}

.ebene-plus
{
  margin-right:-4px;
}


/*********************************************************************************************/
/* mod_giessen_room                                                                          */
/*********************************************************************************************/

.gs_room {
  clear: left;
}

.gs_room form {
  margin-top: 12px;
}

.gs_room_title {
  font-weight:bold;
  display:block;
}

.gs_room_subtitle {
  font-size: 11px;
  font-family: verdana;
  font-weight: bold;
  background-image: url(../images/headline_stripes.gif);
  background-repeat: no-repeat;
  height: 18px;
  overflow: hidden;
  margin-top: 6px;
  margin-left: -6px;
  margin-bottom: 4px;
  margin-right: 5px;
  padding-left: 46px;
  padding-top: 2px;
  padding-bottom: 4px;
  display:block;
}

.gs_room_events {
  border-width:1px;
  border-style:solid;
  border-color:silver;
  border-spacing:6px 2px;
  text-align:left;
  margin-top:6px;
}

.gs_events td {
  padding:3px 3px;
}

.gs_events_darkrow {
  background-color:gainsboro;
}

.gs_room_weekday {
  font-size:11px;
  line-height:20px;
}

.gs_room_dateSelect {
  font-size:10px;
  line-height:40px;
  width:60px;
}

.gs_room_weekly_overview {
  width:100%;
  border-width:1px;
  border-style:solid;
  border-color:#CACACA;
  border-spacing:4px 4px;
}

.gs_room_weekly_overview td {
  background-color:#EAEAEA;
  padding:4px 4px;
  vertical-align:top;
}

.gs_room_free_rooms {
  margin-top: 6px;
}

.gs_room_free_rooms li {
 float: left;
 width: 50px;
}

.gs_room_button


/*********************************************************************************************/
/* mod_schedselect                                                                           */
/*********************************************************************************************/

div.moduletable_schedselect
{
  margin-left:6px;
}


/*********************************************************************************************/
/* remos_plugin                                                                             */
/*********************************************************************************************/

span.gs_remos_plugin img {
  position:relative;
  top:6px;
  line-height:11px;
}


/*********************************************************************************************/
/* mod_weblinkinfo                                                                           */
/*********************************************************************************************/

ul.weblinkinfo li a {
  font-weight:normal;
}


/*********************************************************************************************/
/* mod_feed                                                                                  */
/*********************************************************************************************/

ul.newsfeed li a {
  font-weight:normal;
}


/*********************************************************************************************/
/* mod_giessen_latestnews                                                                    */
/*********************************************************************************************/
h3.moduletable_mni {
  background-image: url(../images/headline_stripes.gif);
  background-repeat: no-repeat;
  height: 18px;
  overflow: hidden;
  margin-top: 6px;
  margin-left: -6px;
  margin-bottom: 4px;
  margin-right: 5px;
  padding-left: 46px;
  padding-top: 2px;
  padding-bottom: 4px;
}


ul.latestnews img.new,
ul.latestnews_mni img.new,
.eventlistmod img.newicon {
  margin: 0px 0px 1px 1px;
  vertical-align: middle;
  border: hidden;
}
ul.latestnews img.thumb,
ul.latestnews_mni img.thumb  {
  margin: 5px 0px 5px -24px;
  border: 0px;
}
p.latestnews,
p.latestnews_mni {
  margin-left:18px;
}

ul.latestnews li a,
ul.latestnews_mni li a {
  font-weight:normal;
}

a.latestnews img.thumb {
  margin: 12px 0px 0px -6px;
  border: 0px;
}

/*********************************************************************************************/
/* mod_giessenmenubanners                                                                    */
/*********************************************************************************************/
img.giessen_menubanners {
  margin-left: -12px;
  margin-bottom: -11px;
  *margin-bottom: -13px;
  border: none;
}

a.giessen_menubanners-text {
  float: left;
}

a.giessen_menubanners-logo {
  float: left;
}


/*********************************************************************************************/
/* plg_giessensteaserpic                                                                     */
/*********************************************************************************************/

div.giessen_teaserpic {
  float: left;
  border: 1px solid #ddd;
  background: #FFF;
  margin: 0px 5px 0px 0px;
}

a.giessen_teaserpic {
  float: left;
}

img.giessen_teaserpic {
  float: left;
  margin: 0px;
  border: hidden 0px;
}
/*********************************************************************************************/
/* com_lsf                                                                              */
/*********************************************************************************************/

/* List View */
table.gLSFList {
  margin: 1em 1px;
  width: 99%;
  font-size: 1em;
  border-collapse: collapse;
  border: 1px solid #E5E5E5;
}

table.gLSFList th {
  background-color: #EFEFEF;
  color: #000;
  font-weight: bold;
  padding: 0.4em;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #E5E5E5;
}

table.gLSFList th img {
  margin: 0 0 5px 5px;
  vertical-align: middle;
  border: none;
}

table.gLSFList td {
  padding: 0.4em;
  vertical-align: top;
}

table.gLSFList tr.sectiontableentry2 td {
  background: #F4F4F4;
}

table.gLSFList tr:hover td {
  background: #F8F8F8
}

table.gLSFList a:hover {
  color: #000;
}

h2.gLSFList {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding: 0.5em 0.3em;
  margin: 0.8em 0;
}

/* Details View */
dl.gLSFDescription {
  margin: 0 5px;
}
dt.gLSFDescription { /* definition term */
  margin: 0;
  padding: 0.3em 0;
  float: left;
  font-size: 1em;
  font-weight: bold;
  width: 11em;
  background: transparent;
  border-bottom: 1px solid #ddd;
}

dd.gLSFDescription { /* definition description */
  display: block;
  margin: 0 0 5px 12em;
  padding: 0.3em 0;
  font-size: 1em;
  background: transparent;
}

/*********************************************************************************************/
/* com_giessenscheduler view: eventlist                                                      */
/*********************************************************************************************/


#giessenscheduler_el{
    margin: -10px -10px 10px -10px;
}

#giessenscheduler_el_newevent{
    float: right;
}

#giessenscheduler_el_newevent img{
    height: 20px;
    width: 20px;
}

#giessenscheduler_el_eventcattable{
    margin: -10px -10px 0px -4px;
}

.giessenscheduler_el_catimage{
    width: 80px;
    height: 80px;
}

#giessenscheduler_el_searchform{
    background-color: #DDDDDD;
}

#giessenscheduler_el_searchform #date_img{
    margin: 0px 3px -4px 0px;
}

#giessenscheduler_el_filter{
    width: 15%;
}

#giessenscheduler_el_eventtable{
    border: 0;
    text-align: left;
    width: 100%;
    table-layout: fixed;
    margin: -20px 0px 0px 0px;
}
a.sortLink{
    font-size: 14px;
    color: black;
}

#giessenscheduler_el_eventtitlehead{
    min-width: 25%;
}

#giessenscheduler_el_eventroomhead{
    min-width: 10%;
}

#giessenscheduler_el_eventcathead{
    min-width: 15%;
}

#giessenscheduler_el_eventdthead{
}

#giessenscheduler_el_eventedithead{
    width: 3%;
}

#giessenscheduler_el_eventdeletehead{
    width: 3%;
}

.giessenscheduler_el_eventeven{
    background-color: #DDDDDD;
}

.pageslinks{
margin-top:20px;
}

#giessenscheduler_el_eventtable tr td img{
    margin:0px;
    height: 16px;
    width: 16px;
}

/*********************************************************************************************/
/* com_giessenscheduler view: event                                                          */
/*********************************************************************************************/

.giessenscheduler_e_block_div{
    float: left;
    padding-top: 10px;
    min-width: 450px;
    max-width: 450px;
}

#giessenscheduler_e_header{
    margin-top: -10px;
    margin-bottom:-4px;
    width: 100%;
    height: 35px;
}

#giessenscheduler_e_headerlinks{
    float: right;
    clear: both;
}

.giessenscheduler_e_block_head{
    width: 100%;
    padding-bottom: 5px;
    margin-left: 0px;
}

#giessenscheduler_e_resources{
    padding-top: 10px;
    min-width: 100%;
}

#giessenscheduler_e_content{
    padding-top: 10px;
    min-width: 100%;
}

/*********************************************************************************************/
/* com_giessenscheduler view: edit event                                                     */
/*********************************************************************************************/

#giessenscheduler_ee{
    margin-top: -10px;
}


#giessenscheduler_ee table{
    margin: 0px;
}

#giessenscheduler_ee fieldset{
    border:#a8b5c5 solid 2px;
    padding: 5px;
}

#giessenscheduler_ee legend{
    padding: 2px;
    margin-left:20px;
}

#giessenscheduler_ee #btnreset{
    padding:0px 3px;
}

#giessenscheduler_ee table img{
    margin: 0px 3px -5px 0px
}


/*********************************************************************************************/
/* mod_giessen_mylink                                                                        */
/*********************************************************************************************/

.mod_giessen_mylink_image{
    border: 1px solid rgb(33, 0, 124);
}
/*********************************************************************************************/
/* com_giessenscheduler view: room display                                                   */
/*********************************************************************************************/
#giessenscheduler_rd table{
    margin: 5px 0px;
    width: 100%;
}

#giessenscheduler_rd h3{
    background-color: #a8b5c5;
}

#giessenscheduler_rd_head{
    background-color: #667e9a;
    font-weight: bolder;
    font-size: 16px;
    text-align: right;
    width: 100%;
}
#giessenscheduler_rd_lessons{
    margin-top:5px;
    float:left;
    clear: right;
}
.giessenscheduler_rd_events{
    margin-top:5px;
    float:left;
    clear: right;
    margin-left: 5px;
}

.giessenscheduler_rd_row_odd{
    background-color: #dddddd;
}

/*********************************************************************************************/
/* com_giessenscheduler view: room list                                                      */
/*********************************************************************************************/

#giessenscheduler_rl{}
#giessenscheduler_rl_fieldset{
    margin: 0 0 1em 0;
    padding: 1em;
    border: 2px solid #a8b5c5;
    width: 40%;
}
#giessenscheduler_rl_fieldset img{
    margin-bottom: -3px;
}
#giessenscheduler_rl_legend{
    padding: 0.3em;
    font-weight: bold;
    font-size: 12px;
}
#giessenscheduler_rl_calendar{}

.MySchedMainW {
  margin-left: -12px;
  margin-right: -12px;
}
