/*********************************************************************************************/
/* mod_giessen_staff                                                                         */
/*********************************************************************************************/
#mod_gs_left {
	float: left;
	background-color: yellow;
	margin-top: 20px;
}

#mod_gs_edit_icon {
	float: left;
	margin-left: 5px;
}

.mod_gs_object {
	margin: 1em 0 0 0;
	clear: both;
}

.mod_gs_objectB {
	margin: 1em 0 0 0;
	clear: both;
	margin-top: 1px;
}

.mod_gs_topic {
	float: left;
	font-weight: bold;
	margin-bottom: 0.2em;
}

.mod_gs_topicB {
	font-weight: bold;
	margin-bottom: 0;
}

.mod_gs_site_advice {
	width: 100%;
}

.mod_gs_site_advice td {
	padding-right: 6px;
	vertical-align: middle;
}

.mod_gs_input_text,.mod_gs_input_file,.mod_gs_input_submit {
	font-size: 1em;
	width: 98%;
}

.mod_gs_input_textarea {
	font-size: 1em;
	width: 98%;
	height: 8em;
}

.mod_gs_input_checkbox {
	position: absolute;
	right: 2em;
}

#mod_gs_email {
	clear: both;
}

.mod_gs_icon {
	float: left;
	/*  margin:5px;
	 width:48px;
  height:16px;
  */
}

.mod_gs_portrait {
	margin-top: 0.5em;
}

.mod_gs_portraitB {
	margin-top: 0.5em;
	width: 50px;
}

.mod_gs_group {
	margin-top: 0.5em;
	width: 70px;
}

/*********************************************************************************************/
/* com_giessen_staff                                                                         */
/*********************************************************************************************/
ul.gs_advtable_left {
	float: left;
}

ul.gs_advtable_right {
	float: right;
}

#gsinfo {
	clear: left;
}

.gs_advlistPicture {
	float: right;
	margin-left: 10px;
}

.gs_advlist_longinfo {
	margin-top: 5px;
	margin-bottom: 5px;
}

#gs_advlist_memberwrapper {
	width: 500px;
	min-height: 50px;
	margin-top: 0px;
	margin-bottom: 30px;
}

#gs_advtable_memberwrapper {
	width: 300px;
	min-height: 50px;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-right: 20px;
}

#gsadv {
	margin-top: 0px;
	margin-right: 40px;
}

#gssite #gsname {
	font-size: 14px;
}

#gssite input,#gssite textarea {
	width: 226px;
}

#gssite #editlinks {
	margin-top: 12px;
}

#gspic #description {
	font-size: 11px;
	font-family: verdana;
	background-image: url(../images/headline_stripes.gif);
	background-repeat: no-repeat;
	height: 18px;
	overflow: hidden;
	margin-top: 18px;
	margin-left: -6px;
	margin-bottom: 4px;
	margin-right: 5px;
	padding-left: 46px;
	padding-top: 2px;
	padding-bottom: 4px;
}

#gs_editView_buttons {
	display: block;
	float: left;
	margin: 0 7px 0 0;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 6px 7px;
}

#gs_editSubmit {
	background: url(../images/edit.png);
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
	float: left;
	border: 0px;
	cursor: pointer;
	margin-left: 5px;
	margin-top: -5px;
}
