#adminForm .chzn-container {
  width: 100%;
}
#adminForm .chzn-single {
  width: 42px;
}
body {
  font-size: 14px !important;
}
table {
  float: left !important;
}
table thead th {
  max-width: 3em;
}
@media only screen and (min-width: 761px) and (max-width: 879px) {
  #adminForm thead th:nth-child(5),
  #adminForm thead th:last-child {
    display: none;
  }
  #adminForm tbody tr > td:nth-child(5),
  #adminForm tbody td:last-child {
    display: none;
  }
}
/*
* Responsive Data Tables
* https://css-tricks.com/responsive-data-tables/
* Published April 27, 2011 by Chris Coyier
*/
@media only screen and (max-width: 760px) {
  #adminForm {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
    /*
    Label the data
    */
  }
  #adminForm table,
  #adminForm thead,
  #adminForm tbody,
  #adminForm th,
  #adminForm td,
  #adminForm tr {
    display: block;
  }
  #adminForm thead th:first-child {
    display: none;
  }
  #adminForm thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #adminForm tbody tr > td:first-child {
    display: none;
  }
  #adminForm tr {
    border: 1px solid #ccc;
  }
  #adminForm td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  #adminForm td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  #adminForm td:nth-of-type(2):before {
    content: "Select";
  }
  #adminForm td:nth-of-type(3):before {
    content: "Title";
  }
  #adminForm td:nth-of-type(4):before {
    content: "Status";
  }
  #adminForm td:nth-of-type(5):before {
    content: "Date";
  }
  #adminForm td:nth-of-type(6):before {
    content: "Hits";
  }
  #adminForm td:nth-of-type(7):before {
    content: "Edit";
  }
  #adminForm td:nth-of-type(8):before {
    content: "Delete";
  }
  #adminForm td:nth-of-type(9):before {
    content: "Show in list m.";
  }
  #adminForm td:nth-of-type(10):before {
    content: "Show in content m.";
  }
  #adminForm td:nth-of-type(11):before {
    content: "Category";
  }
}
