.imageBox
{
    position: relative;
    height: 400px;
    width: 400px;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}
.imageBox .thumbBox
{
    position: absolute;
    width: 150px;
    height: 200px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.leftContent
{
    float: left !important;
    height: 100%;
    width: 50%;
}
.rightContent
{
    float: right !important;
    height: 100%;
    width: 50%;
}
.modalPicture
{
    max-height: 550px !important;
}
.modalFade
{
    width: 700px !important;
    max-height: 900px !important;
}
.previewContainer
{
    height: 80%;
    width: 80%;
}
.cropped_controls
{
    height: 200px;
    width: 250px;
    float: right;
}
