* {
	margin: 0;
	padding: 0;
}

body {
	margin: 30px;
	font: 13px/1.5 "Trebuchet MS", Tahoma, Arial;
}

tr,td {
	border: none !important;
}

#THM_Plugin_Members_Attributes {
	float: right;
	background: 	#EEEEEE;
}

#THM_Plugin_Members_Content {
	float: left;
	clear: both;
	width: 100%;
	background: 	#EEEEEE;
}

#Group_Select {
	float: left;
	display: -webkit-box;
}

#THM_Plugin_Members_Parameters {
	float: left;
	margin-right: 15px;
}

#THM_Plugin_Members_AddButton {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.button {
	color: blue;
	text-decoration: none;
}

.hover {
	cursor: pointer;
}

.hide {
	display: none;
}

.selected {
	font-weight: bold;
}

.select_user {
	display: block;
	width: 150px;
	height: 250px;
}

.link,.plus,.minus {
	width: 100px;
	border: 1px solid #aaa;
	text-decoration: none;
	background-color: #EFEFEF;
	color: #123456;
	/*    margin: 2px;   */
}

.plus {
	margin-left: 15px;
}

.minus {
	margin-right: 15px;
}

.styled {
	width: 100px;
}

.styled_number {
	width: 40px;
	height: 15px;
}

.selGroup {
	float: left;
}

.jQtooltip {
	position: relative;
	cursor: help;
	border-bottom: 1px dotted;
}

.jQtooltip div {
	display: none;
	position: absolute;
	bottom: -1px;
	left: -1px;
	z-index: 1000;
	width: 190px;
	padding: 8px 12px;
	text-align: left;
	font-size: 12px;
	line-height: 16px;
	color: #000;
	box-shadow: 0 1px 3px #C4C4C4;
	border: 1px solid #DBB779;
	background: #FFF6BD;
	border-radius: 2px;
}

.jQtooltip.mini {
	display: inline-block;
	vertical-align: bottom;
	font-size: 11px;
	width: 14px;
	line-height: 13px;
	text-align: center;
	margin-left: 2px;
	top: -2px;
	color: #9A4D18;
	border: 1px solid #FAD28F;
	background: #FFF6BD;
	border-radius: 2px;
}

.section {
	width: 100% !important;
	background: #royalblue !important;
	margin: 0 0 30px !important;
}

ul.tabs {
	height: 28px !important;
	line-height: 25px !important;
	list-style: none !important;
	border-bottom: 1px solid #DDD !important;
	background: #FFF !important;
}

.tabs li {
	float: left !important;
	display: inline !important;
	margin: 0 1px -1px 0 !important;
	padding: 0 13px 1px !important;
	color: black !important;
	cursor: pointer !important;
	background: #F5F5F5 !important;
	border: 1px solid #E4E4E4 !important;
	border-bottom: 1px solid #F9F9F9 !important;
	position: relative;
}

.tabs li:hover,.vertical .tabs li:hover {
	color: #80ba24 !important;
	padding: 0 13px !important;
	background: #EEEEEE !important;
	border: 1px solid black !important;
}

.tabs li.current {
	color: #444 !important;
	background: 	#EEEEEE !important;
	padding: 0 13px 2px !important;
	border: 1px solid #D4D4D4 !important;
	border-bottom: 1px solid 	#EEEEEE !important;
}

.box_tab {
	display: none;
	border: 1px solid #D4D4D4;
	border-width: 0 1px 1px;
	background: #B9BEC2;
	/* 	padding: 0 12px; */
}

.box_tab.visible {
	display: block;
}

.myTable {
	border: none !important;
}

.search_area {
	width: 350px;
	margin: 0px;
	position: relative;
}

#search_box {
	width: 175px;
	padding: 2px;
	margin: 1px;
	border: 1px solid #000;
}

#search_advice_wrapper {
	display: none;
	width: 200px;
	background-color: rgb(80, 80, 114);
	color: rgb(255, 227, 189);
	-moz-opacity: 0.95;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=95 );
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95 );
	filter: alpha(opacity = 95);
	z-index: 999;
	position: absolute;
	top: 24px;
	left: 0px;
}

#search_advice_wrapper .advice_variant {
	cursor: pointer;
	padding: 5px;
	text-align: left;
}

#search_advice_wrapper .advice_variant:hover {
	color: #FEFFBD;
	background-color: #818187;
}

#search_advice_wrapper .active {
	cursor: pointer;
	padding: 5px;
	color: #FEFFBD;
	background-color: #818187;
}