[class^="icon-"], [class*=" icon-"] {
    margin-right: .5rem;
}

[class^="icon-vcard"], [class*=" icon-vcard"] {
    margin-left: .5rem;
    margin-right: 0;
}

#breadcrumbs {
    margin-top: 1rem;
}

.module-box ul.menu li:last-child {
    border-bottom: none;
}

.sidebar-nav {
    color: #394a59;
}

.menu-spacer {
    background-color: #dfe5e6;
    display: block;
    font-size: 1.1rem;
    margin: .3rem -2rem 0 -2rem;
    padding: .3rem 1.6rem .3rem 2rem;
    width: 100%;
}

.groups-logo, .groups-description {
    font-size: .9rem;
    margin-bottom: .6rem;
}

.action-group h1, .action-group h2, .action-group h3, .action-group h4, .action-group h5, .action-group h6 {
    background-color: #dfe5e6;
    color: #394a59;
    font-size: 1.3rem;
    margin: .5rem 0;
    padding: .5rem;
}

.action-item {
    font-size: 1.1rem;
    margin: 0 0 .5rem .5rem;
}

.action-item a[href*="_manager"]::before {
    content: "";
}

.action-item.quicklink {
    font-size: 1.3rem;
}

.searchArea a, thead a {
    color: #4a5c66;
}

.searchArea a:hover, thead a:hover {
    color: #80ba24;
}

.js-stools-container-bar {
    margin-bottom: 0.3rem;
}

.js-stools-field-filter, .js-stools-field-list {
    display: inline-block;
    max-width: 200px;
}

.js-stools-field-filter select, .js-stools-field-list select {
    width: auto;
}

.js-stools-field-filter span, .js-stools-field-list span {
    overflow: hidden !important;
}

.chzn-container {
    max-width: inherit;
}

.table-striped {
    margin-top: 7px;
    border-collapse: separate;
    border-top: 1px solid #bbb;
}

.table-striped th:not(:first-child) {
    padding-left: 0.2rem;
}

thead {
    color: #4a5c66;
}

th {
    background: #bfdc91;
}

th:first-child {
    border-left: 1px solid #bbb;
}

th:last-child {
    border-right: 1px solid #bbb;
}

tr:nth-child(1):not(:only-child) th {
    padding-bottom: 0;
}

tr:nth-child(1):not(:only-child) th:first-child span {
    margin-left: 0.2rem;
}

tr:nth-last-child(1):not(:first-child) th {
    border-top: none;
    border-bottom: 1px solid #bbb;
    padding-top: 0.1rem;
}

tbody tr:first-child td {
    border-top-style: none;
}

td input[type="checkbox"] {
    margin: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .controls input[type="file"] {
        line-height: 0;
        padding-top: 3px;
    }
}

.chzn-container-multi .chzn-choices li {
    float: none;
}

/**********************************************************************************************************************/
/* modals                                                                                                             */
/**********************************************************************************************************************/
.modal-body .control-group {
    padding-left: 1rem;
    padding-top: .5rem;
}

.modal-body .control-group .control-label > label {
    font-weight: bold;
}

@media (max-width: 480px) {
    .table-striped thead th, .table-striped tbody td {
        display: none;
    }

    .table-striped thead th:nth-child(2), .table-striped tbody td:nth-child(2) {
        display: table-cell;
    }

    .table-striped thead th:nth-child(2), .table-striped tbody td:nth-child(2) {
        padding-left: 20px;
        padding-right: 20px;
    }

    #quickpage_manager-list thead th, #quickpage_manager-list tbody td, #plugin_manager-list thead th, #plugin_manager-list tbody td {
        display: none;
    }

    #quickpage_manager-list thead th:nth-child(2), #quickpage_manager-list tbody td:nth-child(2), #plugin_manager-list thead th:nth-child(2), #plugin_manager-list tbody td:nth-child(2) {
        display: table-cell;
    }

    #quickpage_manager-list thead th:nth-child(3), #quickpage_manager-list tbody td:nth-child(3), #plugin_manager-list thead th:nth-child(3), #plugin_manager-list tbody td:nth-child(3) {
        display: table-cell;
    }

    #quickpage_manager-list thead th:nth-child(2), #quickpage_manager-list tbody td:nth-child(2), #plugin_manager-list thead th:nth-child(2), #plugin_manager-list tbody td:nth-child(2) {
        padding-left: 8px;
    }

    #role_manager-list thead th, #role_manager-list tbody td {
        display: none;
    }

    #role_manager-list thead th:nth-child(3), #role_manager-list tbody td:nth-child(3) {
        display: table-cell;
    }

    #role_manager-list thead th:nth-child(4), #role_manager-list tbody td:nth-child(4) {
        display: table-cell;
    }

    #role_manager-list thead th:nth-child(3), #role_manager-list tbody td:nth-child(3) {
        padding-left: 8px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .table-striped thead th:nth-child(n+5), .table-striped tbody td:nth-child(n+5) {
        display: none;
    }
}

/**********************************************************************************************************************/
/* icon picker                                                                                                        */
/**********************************************************************************************************************/
.iconPicker {
    white-space: normal !important;
}

.iconPicker .iconName {
    padding-left: 10px;
}

.iconPicker .dropdown-toggle .icon-arrow-down-3 {
    font-size: 18px;
    float: right;
}

.iconPicker .dropdown-toggle .icon-arrow-down-3:before {
    vertical-align: text-bottom;
}

.iconPicker .dropdown-toggle .iconName {
    padding-left: 5px;
}

.iconPicker .dropdown-menu {
    margin-bottom: 50px;
    height: 10rem;
    overflow: hidden;
    overflow-y: scroll;
}

.iconPicker .dropdown-menu .selected {
    background-color: #a0cb5b;
}
