[class^="icon-"], [class*=" icon-"] {
    font-family: icomoon;
}

.icon-organizer::before,
a[href$="view=thm_organizer"]::before,
a[href$="option=com_thm_organizer"]::before {
    font-family: icomoon;
    content: "\e60b";
    color: #80ba24;
}

.icon-organizer_colors::before {
    content: "\e014";
}

.icon-organizer_degrees::before {
    content: "\e606";
}

.icon-organizer_degree_programs::before,
.icon-organizer_plan_programs::before {
    content: "\31";
}

.icon-organizer_departments::before {
    content: "\e244";
}

.icon-organizer_fields::before {
    content: "\74";
}

.icon-organizer_grids::before {
    content: "\59";
    font-size: 1.1rem;
}

.icon-organizer_methods::before {
    content: "\e271";
}

.icon-mni::before {
    content: "\e600";
}

.icon-organizer_monitors::before {
    content: "\e01c";
}

.icon-organizer_plan_pools::before,
.icon-organizer_subject_pools::before {
    content: "\44";
}

.icon-organizer_rooms::before {
    content: "\e250";
}

.icon-organizer_room_types::before {
    content: "\e250";
}

.icon-organizer_schedules::before {
    content: "\e931";
}

.icon-organizer_subjects::before {
    content: "\e603";
}

.icon-organizer_subject_pools::before {
    content: "\44";
}

.icon-organizer_teachers::before {
    content: "\e604";
}

.icon-diff, .icon-import, .icon-import-all, .icon-merge-all {
    font-weight: bold;
}

.icon-add-Space {
    font-size: 14px;
}

a[href*="option=com_thm_organizer&view="]::before {
    padding-right: 8px;
}

.thm_groups-list {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.thm_groups-list li {
    list-style-type: none;
}

.thm_groups-list .list-container .alphabet-container, .thm_groups-list .list-container .alphabet-list {
    display: inline-block;
    text-align: center;
}

.thm_groups-list .list-container .alphabet-container {
    margin-bottom: 15px;
    width: 100%;
}

.thm_groups-list .list-container .alphabet-list {
    border: 1px solid #77858c;
    margin-bottom: 0;
}

.thm_groups-list .list-container .alphabet-list li {
    display: inline-block;
    margin-left: 0;
    padding: 8px 6px;
}

.thm_groups-list .list-container .alphabet-list .letter-enabled, .thm_groups-list .list-container .alphabet-list .letter-disabled {
    display: inline;
    font-size: 14px;
}

.thm_groups-list .list-container .alphabet-list .letter-disabled {
    color: #d2d6d9;
}

.thm_groups-list .list-container .alphabet-list .letter-enabled {
    font-weight: bold;
}

.thm_groups-list .list-container .profiles-container .letter {
    background-color: #4a5c66;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 3px;
    text-align: center;
    vertical-align: top;
    width: 16px;
}

.thm_groups-list .list-container .profiles-container .profiles {
    display: inline-block;
    width: calc(100% - 22px);
}
