[class^="icon-"], [class*=" icon-"] {
    font-family: icomoon;
}

.icon-mni::before {
    content: "\e600";
}

.icon-diff, .icon-import, .icon-import-all, .icon-merge-all {
    font-weight: bold;
}

.icon-add-Space {
    font-size: 14px;
}

.thm_groups-list {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.thm_groups-list li {
    list-style-type: none;
}

.thm_groups-list li .title-value {
    color: #394a59;
    font-size: .75rem;
}

.thm_groups-list .list-container .alphabet-container, .thm_groups-list .list-container .alphabet-list {
    text-align: center;
}

.thm_groups-list .list-container .alphabet-container {
    margin-bottom: 15px;
    width: 100%;
}

.thm_groups-list .list-container .alphabet-list {
    border: 1px solid #77858c;
    margin-bottom: 0;
    width: 100%;
}

.thm_groups-list .list-container .alphabet-list li {
    display: inline-block;
    margin-left: 0;
    padding: 8px 6px;
    width: 2%;
}

.thm_groups-list .list-container .alphabet-list .letter-enabled, .thm_groups-list .list-container .alphabet-list .letter-disabled {
    display: inline;
    font-size: 14px;
}

.thm_groups-list .list-container .alphabet-list .letter-disabled {
    color: #d2d6d9;
}

.thm_groups-list .list-container .alphabet-list .letter-enabled {
    font-weight: bold;
}

.thm_groups-list .list-container .alphabet-list .letter-active {
    background-color: #dfe5e6;
}

.thm_groups-list .list-container .profiles-container .letter {
    background-color: #4a5c66;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 3px;
    text-align: center;
    vertical-align: top;
    width: 16px;
}

.thm_groups-list .list-container .profiles-container .profiles {
    display: inline-block;
    width: calc(100% - 22px);
}

.thm_groups-list .list-container .single-letter {
    width: 100%;
}

.thm_groups-list .list-container .single-letter .profiles-container .profiles {
    width: 100%;
}
