[class^="icon-"], [class*=" icon-"] {
    margin-right: .5rem;
}

[class^="icon-vcard"], [class*=" icon-vcard"] {
    margin-left: .5rem;
    margin-right: 0;
}

#breadcrumbs {
    margin-top: 1rem;
}

.module-box ul.menu li:last-child {
    border-bottom: none;
}

button, a.btn {
    border: 2px solid #4a5c66;
    font-family: "THM-Regular";
    padding: .4rem .6rem .2rem .6rem;
}

button:hover, a.btn:hover {
    background-color: #394a59;
    color: white;
}

button:hover span:before, a.btn:hover span:before {
    color: white;
}

.toolbar {
    float: right;
}

a.btn {
    margin-left: 10px;
    margin-bottom: 20px;
}

.profile-container {
    clear: both;
    padding-bottom: 1rem;
}

.profile-container div.clearFix {
    clear: both;
}

.profile-container .attribute-image {
    clear: right;
    float: right;
    margin-bottom: .8rem;
}

.profile-container .attribute-image img {
    max-width: 10rem;
}

.profile-container .attribute-html, .profile-container .attribute-wrap {
    clear: left;
    float: left;
    padding: 0.3rem 0;
}

.profile-container .attribute-label, .profile-container .attribute-value {
    display: table-cell;
    float: left;
}

.profile-container .attribute-label {
    font-size: 1.05rem;
    margin-right: 1rem;
    text-align: right;
    vertical-align: top;
}

.profile-container .attribute-labeled {
    padding-top: .2rem;
}

.profile-container .attribute-wrap .attribute-value {
    max-width: 25rem;
}

.profile-container .attribute-html h3 {
    margin: 1.5rem 0 1rem 0;
}
