[class^="icon-"], [class*=" icon-"] {
    margin-right: .5rem;
}

button, a.btn {
    border: 2px solid #4a5c66;
    font-family: "THM-Regular";
    padding: .4rem .6rem .2rem .6rem;
}

button:hover, a.btn:hover {
    background-color: #394a59;
    color: white;
}

button:hover span:before, a.btn:hover span:before {
    color: white;
}

.toolbar {
    float: right;
}

a.btn {
    margin-left: 10px;
    margin-bottom: 20px;
}

.profile-container {
    clear: both;
}

.profile-container div.clearFix {
    clear: both;
}

.profile-container .attribute-picture {
    float: right;
    margin-bottom: .8rem;
}

.profile-container .attribute-picture img {
    max-width: 6rem;
}

.profile-container .attribute-inline, .profile-container .attribute-wrap {
    display: inline-block;
    float: left;
    padding: 0.3rem 0;
}

.profile-container .attribute-label, .profile-container .attribute-value {
    display: block;
    float: left;
}

.profile-container .attribute-label {
    font-size: 1.05rem;
    margin-right: 1rem;
    text-align: right;
    vertical-align: top;
}

.profile-container .attribute-wrap {
    clear: left;
}

.profile-container .attribute-textfield {
    clear: left;
    margin-top: 1rem;
    padding: 1rem 0;
}

.profile-container .attribute-textfield .attribute-label {
    font-family: "THM-Medium", Arial, Helvetica, sans-serif;
    margin-bottom: .8rem;
    text-align: left;
}
