tr, td {
    border: none !important;
}

#THM_left {
    position: relative !important;
    float: left !important;
}

#THM_right {
    position: relative !important;
    float: left !important;
}

#THM_Plugin_Members_AddButton {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.section {
    width: 100% !important;
    background: royalblue !important;
    margin: 0 0 30px !important;
}

ul.tabs {
    height: 28px !important;
    line-height: 25px !important;
    list-style: none !important;
    border-bottom: 1px solid #DDD !important;
    background: #FFF !important;
}

.tabs li {
    float: left !important;
    display: inline !important;
    margin: 0 1px -1px 0 !important;
    padding: 0 13px 1px !important;
    color: black !important;
    cursor: pointer !important;
    background: #F5F5F5 !important;
    border: 1px solid #E4E4E4 !important;
    border-bottom: 1px solid #F9F9F9 !important;
    position: relative;
}

.tabs li:hover, .vertical .tabs li:hover {
    color: #80ba24 !important;
    padding: 0 13px !important;
    background: #EEEEEE !important;
    border: 1px solid black !important;
}

.tabs li.current {
    color: #444 !important;
    background: #EEEEEE !important;
    padding: 0 13px 2px !important;
    border: 1px solid #D4D4D4 !important;
    border-bottom: 1px solid #EEEEEE !important;
}

.box_tab {
    display: none;
    border: 1px solid #D4D4D4;
    background: #B9BEC2;
    /* 	padding: 0 12px; */
}

.box_tab.visible {
    display: block;
}
