<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="general"
        label="COM_THM_GROUPS_GENERAL_SETTINGS_TITLE"
        description="COM_THM_GROUPS_GENERAL_SETTINGS_DESCRIPTION">

        <field
            name="content_category"
            type="category"
            label="COM_THM_GROUPS_GENERAL_SETTINGS_QP_ROOT_CATEGORY"
            description="COM_THM_GROUPS_GENERAL_SETTINGS_QP_ROOT_CATEGORY_DESCRIPTION"
            extension="com_content"
        />

        <field
            name="editownprofile"
            type="checkbox"
            value="1"
            default="0"
            label="COM_THM_GROUPS_MEMBER_CONFIG_MEMBERPERMISSIONS_EDIT_PROFILE"
            description="COM_THM_GROUPS_MEMBER_CONFIG_MEMBERPERMISSIONS_EDIT_PROFILE_DESC"
        />

        <field
            name="backButtonForQuickpages"
            type="radio"
            default="0"
            class="btn-group btn-group-yesno"
            label="COM_THM_GROUPS_ADVANCED_CONFIG_QP_BACK_LABEL"
            description="COM_THM_GROUPS_ADVANCED_CONFIG_QP_BACK_DESC">
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
        </field>

        <field
            name="backButtonForProfile"
            type="radio"
            class="btn-group btn-group-yesno"
            default="1"
            label="COM_THM_GROUPS_ADVANCED_CONFIG_PROFILE_BACK_LABEL"
            description="COM_THM_GROUPS_ADVANCED_CONFIG_PROFILE_BACK_DESC">
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
        </field>
    </fieldset>

    <fieldset name="permissions"
        description="JCONFIG_PERMISSIONS_DESC"
        label="JCONFIG_PERMISSIONS_LABEL">

        <field name="rules" type="rules"
            component="com_thm_groups"
            filter="rules"
            validate="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            section="component"
        />
    </fieldset>
</config>
