<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="general" label="COM_THM_GROUPS_BASIC_SETTINGS_TITLE"
              description="COM_THM_GROUPS_BASIC_SETTINGS_DESCRIPTION">
        <field name="editownprofile" type="radio" class="btn-group btn-group-yesno" value="1" default="0"
               label="COM_THM_GROUPS_EDIT_OWN_PROFILE" description="COM_THM_GROUPS_EDIT_OWN_PROFILE_DESC">
            <option value="1">JON</option>
            <option value="0">JOFF</option>
        </field>
        <field name="enabled" type="radio" default="0" class="btn-group btn-group-yesno"
               label="COM_THM_GROUPS_ENABLE_CONTENT" description="COM_THM_GROUPS_ENABLE_CONTENT_DESC">
            <option value="1">JON</option>
            <option value="0">JOFF</option>
        </field>
        <field name="rootCategory" type="category" label="COM_THM_GROUPS_ROOT_CATEGORY"
               description="COM_THM_GROUPS_ROOT_CATEGORY_DESC" extension="com_content"/>
        <field name="dynamicContext" type="menuitem"
               label="COM_THM_GROUPS_DYNAMIC_CONTEXT" description="COM_THM_GROUPS_DYNAMIC_CONTEXT_DESC" />
    </fieldset>
    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_thm_groups" filter="rules" validate="rules"
               label="JCONFIG_PERMISSIONS_LABEL" section="component"/>
    </fieldset>
</config>
